<% if @people.empty? %>
  <p>There are no people available</p>
<% else %>
  <h2>There are <%= @people.count%> people in the star war films</h2>

  <% @people.each do |person| %>
    <li>
      <%=link_to person.name, person %>  from  Planet
      <%=link_to person.planet.name, person.planet%> Specise is
      <%=link_to person.species.name, person.species%>
    </li>
  <% end %>
<% end %>
