<% if @planets.empty?%>
  <p>There are no planets available</p>
<% else %>
  <h2 class="title is-2">There are <%= @planets.count%> planets in the star war films</h2>

  <% @planets.each do |planet| %>
    <li>
      <%= link_to planet.name, planet %>
    </li>

  <% end %>
<% end %>
