<% if @films.empty?%>
  <p>There are no films available</p>
<% else %>
  <h2 class="title is-2">There are <%= @films.count%> films of star war films</h2>

  <% @films.each do |film| %>
    <li>
      <%= link_to film.title, film_path(film) %>
    </li>

  <% end %>
<% end %>
